{% extends 'base.html' %}

{% block basecss %}
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/add_product.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="form-container">
  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="productName" class="form-label">Product name</label>
      <input type="text" class="form-control" id="productName" placeholder="Enter the name of the product"
        name="product_name">
    </div>
    <label for="categories" class="form-label">Category</label>
    <input class="form-control" list="categoryOptions" id="categories" placeholder="Type to search..."
      name="product_category">
    <div class="mb-3">
      <datalist id="categoryOptions">
        {% for category in categories %}
        <option value="{{ category.name }}">
          {% endfor %}
      </datalist>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Product image</label>
      <input class="form-control" type="file" id="formFile" accept=".jpg,.jpeg,.png" name="product_image">
    </div>
    <div class="mb-3 submitButton">
      <button class="btn btn-primary" type="submit">Add product</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>
</div>
{% endblock %}
