{% extends 'base.html' %}

{% block basecss %}
{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel='stylesheet'>
{% endblock %}
{% block content %}
This is the homepage.
    <div class="parent">
        {% for product in products %}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="child card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
                    role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">                    
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96" /><image class="product-image" href="{{ url_for('products.send_uploaded_image', filename=filename) }}"/>
                </svg>
    
                <div class="card-body">
                    {{ current_user.id }}
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ get_category(product.category).name }}</p>
                    <p class="card-text">{{ product.user_id }}:{{ product.id }}:{{ product.description }} {{ product.image }}
                    </p>
                    <p class="card-text"><small class="text-muted">TIMESTAMP</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_view %} disabled{% endif %}">
            <a href="{{ prev_view or '#' }}">
                <span aria-hidden="true">&larr;</span>Newer posts
            </a>
        </li>
        <li class="next{% if not next_view %} disabled{% endif %}">
            <a href="{{ next_view or '#' }}">
                Older posts<span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
