.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex: 1 0 25%;
    margin: 5px;
    height: auto;
}

.product-image {
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}